<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Superfluous</title>
</head>
<body>
    <div id="control-panel">
        <a href="/urls">URL</a>
        <a href="/scrape">Scrape</a>
        <a href="/split">Split</a>
        <a href="/superfluous">Superfluous</a>
        <a href="/keywords">Keywords</a>
        <a href="/clean">Clean</a>
        <a href="/changes">Changes</a>
        <a href="/report">Report</a>
        <a href="/export">Export</a>
    </div>
    <h1>Superfluous words</h1>
    <form action="/superfluous" method="post">
    <label for="new_superfluous">New Superfluous Word:</label>
         <p>Mind that: Most of the punctuation is cleaned automatically</p>
    <input type="text" id="new_superfluous" name="new_superfluous" required>

    <button type="submit">Insert</button>
</form>

    <table border="1", id="table4">
        <thead>
            <tr>
                <th>SUPERFLUOUS WORD</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages_data %}
            <tr>
                <td>{{ page[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
